#nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

#h-global {
    height: 30vh;
    min-height: 30vh;
    background-image: url('images/PSC-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-position-y: 63%;
}

.mask {
    height: 30vh;
}

#c-global {
    margin-top: 6vw;
    margin-bottom: 6vw;
}

#input-global {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.fs-3 {
    border-bottom: 2px solid #212529;
    margin-top: 1vw;
}

@media (prefers-color-scheme: dark) {
    .fs-3 {
        border-bottom: 2px solid #f3f3f3;
        margin-top: 1vw;
    }
}

h1,
.fs-4 {
    color: #212529;
}

#button {
    margin-top: 2vw;
}

.credit {
    opacity: 0;
    transition: all .5s;
}

.col:hover .credit {
    opacity: 1;
}

.form-label:before {
    content: "* ";
    color: red;
}



#end {
    padding-bottom: 3vw;
    border-bottom: 2px solid #212529;
}

@media (prefers-color-scheme: dark) {
    #end {
        padding-bottom: 3vw;
        border-bottom: 2px solid #f3f3f3;
    }
}

.search {
    margin-bottom: 3vw;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.min-width-72 {
    min-width: 72px;
}