#hp-bg {
    height: 100vh;
    min-height: 100vh;
    background-color: #212529;
}

#headline {
    color: #ffffff;
}

/* fail and success */

.fail-icon {
    width: 5rem;
    margin: 1rem;
}

.success-icon {
    width: 5rem;
    margin: 1rem;
}