{% extends "administracija-base.html" %}
{% block head %}
<title>Dodavanje zaposlenika | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Dodavanje zaposlenika</h1>
                <p class="fs-4">Pomoću forme unesite podatke o novom zaposleniku</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">


    {% block content %}
    <form method="post">

        <div class="row" id="end-form">
            <div class="col">


                <p class="fs-3">Opće informacije</p>
                <div class="row" id="input-global">
                    <div class="col">
                        <label for="ime" class="form-label">Ime</label>
                        <input name="ime" value="{{request.form['ime']}}" type="text" class="form-control" required>
                    </div>
                </div>

                <div class="row" id="input-global">
                    <div class="col">
                        <label for="prezime" class="form-label">Prezime</label>
                        <input name="prezime" value="{{request.form['prezime']}}" type="text" class="form-control"
                            required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">

                        <div class="row" id="input-global">
                            <div class="col">
                                <label for="datum_rodenja" class="form-label">Datum rođenja</label>
                                <input name="datum_rodenja" value="{{request.form['datum_rodenja']}}" type="date"
                                    class="form-control" required>
                            </div>
                        </div>

                    </div>

                    <div class="col-4">

                        <div class="row" id="input-global">
                            <div class="col">
                                <label for="spol" class="form-label">Spol</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="spol" value="M" id="musko"
                                        required>
                                    <label class="form-check-label" for="musko">
                                        Muško
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="spol" value="Ž" id="zensko"
                                        required>
                                    <label class="form-check-label" for="zensko">
                                        Žensko
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" id="input-global">
                    <div class="col">
                        <label for="adresa" class="form-label">Adresa</label>
                        <input name="adresa" value="{{request.form['adresa']}}" type="text" class="form-control"
                            required>
                    </div>
                </div>

                <div class="row" id="input-global">
                    <div class="col">
                        <label for="grad" class="form-label">Grad</label>
                        <input name="grad" value="{{request.form['grad']}}" type="text" class="form-control" required>
                    </div>
                </div>


            </div>


            <div class="col">


                <p class="fs-3">Kontakt informacije</p>
                <div class="row" id="input-global">
                    <div class="col">
                        <label for="broj_telefona" class="form-label">Broj telefona</label>
                        <input name="broj_telefona" value="{{request.form['broj_telefona']}}" type="text"
                            class="form-control" required>
                    </div>
                </div>

                <div class="row" id="input-global">
                    <div class="col">
                        <label for="e_mail" class="form-label">E-mail</label>
                        <input name="e_mail" value="{{request.form['e_mail']}}" type="e_mail"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" id="e_mail" required>
                    </div>
                </div>

                <p class="fs-3">Informacije o radnom mjestu</p>
                <div class="row" id="input-global">
                    <div class="col">
                        <label for="radno_mjesto" class="form-label">Radno mjesto</label>
                        <select name="radno_mjesto" class="form-control" value="{{request.form['radno_mjesto']}}"
                            required>
                            <option selected value="autoelektricar">Autoelektričar</option>
                            <option value="mehanicar">Mehaničar</option>
                            <option value="prodavac">Prodavač</option>
                            <option value="recepcionar">Recepcionar</option>
                            <option value="skladistar">Skladištar</option>
                            <option value="tajnik">Tajnik</option>
                            <option value="vulkanizer">Vulkanizer</option>
                        </select>
                    </div>
                </div>

                <div class="row" id="input-global">
                    <div class="col">
                        <label for="datum_zaposlenja" class="form-label">Datum zaposlenja</label>
                        <input name="datum_zaposlenja" value="{{request.form['datum_zaposlenja']}}" type="date"
                            class="form-control" required>
                    </div>
                </div>

                <div class="row" id="input-global">
                    <div class="col">
                        <label for="placa" class="form-label">Plaća</label>
                        <input name="placa" value="{{request.form['placa']}}" type="text" pattern="^\d+(\.\d{1,2})?$"
                            class="form-control" required>
                    </div>
                </div>


            </div>
        </div>

        <button class="btn btn-outline-success" id="form-button" type="submit">Dodaj zaposlenika</button>

    </form>
    {% endblock %}
</div>
{% endblock %}