{% extends "administracija-base.html" %}
{% block head %}
<title>Automobili | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Automobili</h1>
                <p class="fs-4">Pomoću forme pretražite automobile</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">

    <!-- <div class="search">
        <form method="post">
            <div class="d-flex">
                <input name="marka_automobila" value="{{request.form['marka_automobila']}}" type="text"
                    class="form-control" placeholder="Upisati marku automobila (npr. BMW)">
                <input type="submit" class="btn btn-outline-success" value="Pretraži">
            </div>
        </form>
    </div> -->

    <label for="identificator" class="form-label">Pretraži prema:</label>
    <div class="search">
        <form method="post" class="d-flex">
            <select class="form-select" name="identificator" id="identificator" aria-label="Pretraži po" required
                value="{{request.form['identificator']}}">
                <option selected value="marka_automobila">Marka</option>
                <option value="model">Model</option>
                <option value="godina_proizvodnje">Godina proizvodnje</option>
                <option value="broj_sasije">Broj šasije</option>

            </select>
            <div class="d-flex search-box">
                <input name="query" value="{{request.form['query']}}" type="text" class="form-control"
                    placeholder="Upisati traženi pojam" required>
                <input type="submit" class="btn btn-outline-success" value="Pretraži">
            </div>
        </form>
    </div>

    {% block content %}

    {% if data %}

    <!-- table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Marka automobila</th>
                <th scope="col">Model</th>
                <th scope="col">Tip motora</th>
                <th scope="col">Godina proizvodnje</th>
                <th scope="col">Servis/prodaja</th>
                <th scope="col">Dostupnost</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for d in data[::-1] %}
            <tr>
                <td>{{d.marka_automobila}}</td>
                <td>{{d.model}}</td>
                <td>{{d.tip_motora}}</td>
                <td>{{d.godina_proizvodnje.strftime('%Y.')}}</td>

                {% if d.servis_prodaja=='S' %}
                <td>servis</td>
                {% else %}
                <td>prodaja</td>
                {% endif %}

                {% if d.dostupnost=='DA' %}
                <td class="text-success">Dostupno</td>
                {% else %}
                <td class="text-danger">Nedostupno</td>
                {% endif %}

                <td><a href="/administracija/prikaz-automobila/{{d.id}}" class="btn btn-outline-success"> Više
                        informacija </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- end of table -->

    {% else %}
    <p class="fs-4 text-center not-found">Nije pronađen niti jedan automobil.</p>
    {% endif %}

    {% endblock %}


</div>
{% endblock %}