{% extends "administracija-base.html" %}
{% block head %}
<title>Statistika | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
  <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div>
        <h1>Statistika</h1>
        <p class="fs-4">Razne poslovne statistike</p>
      </div>
    </div>
  </div>
</div>


<div class="container " id="c-global">

  <!-- ROW  -->
  <div class="row row-cols-lg-2 row-cols-md-1">
    <!-- table 1 -->
     <div class="col px-4">
      <p class="fs-5">Usluge po tipu motora</p>
      <!--<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tip motora</th>
            <th scope="col">Ukupno izvršenih usluga</th>
          </tr>
        </thead>
        <tbody>
          {% block content %}
          {% for d in data[0] %}
          <tr>
            <th scope="row">{{data[0].index(d)+1}}</th>
            <td>{{d.tip_motora}}</td>
            <td>{{d.ukupno_izvrsenih_usluga}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>-->
      <canvas id="table1" width="200" height="100"></canvas>
      <p class="text-muted credit">autor: Tin Pritišanac</p>
    </div> 
    <!-- end of table 1 -->

    <!-- table 2 -->
    <div class="col px-4">
      <p class="fs-5">Utrošeni dijelovi po marki automobila</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marka</th>
            <th scope="col">Model</th>
            <th scope="col">Br. ugrađenih dijelova</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[1] %}
          <tr>
            <th scope="row">{{data[1].index(d)+1}}</th>
            <td>{{d.marka_automobila}}</td>
            <td>{{d.model}}</td>
            <td>{{d.broj_ugradjenih_djelova}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Tin Pritišanac</p>
    </div>
    <!-- end of table 2 -->


    <!-- table 4 -->
    <div class="col px-4">
      <p class="fs-5">Zaposlenici po ukupnoj cijeni servisa</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">Ukupno po servisu</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[3] %}
          <tr>
            <th scope="row">{{data[3].index(d)+1}}</th>
            <td>{{d.Ime_i_prezime}}</td>
            <td>{{d.ukupno_po_servisu}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Neven Davidović</p>
    </div>
    <!-- end of table 4 -->

    <!-- table 3 -->
    <div class="col px-4">
      <p class="fs-5">Zaposlenici sa najviše servisa</p>
      <!-- <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">broj servisa</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[2] %}
          <tr>
            <th scope="row">{{data[2].index(d)+1}}</th>
            <td>{{d.Ime_i_prezime}}</td>
            <td>{{d.broj_servisa}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> -->
      <canvas id="table3" width="200" height="100"></canvas>
      <p class="text-muted credit">autor: Neven Davidović</p>
    </div>
    <!-- end of table 3 -->

    <!-- table 5 -->
    <div class="col px-4">
      <p class="fs-5">Top 5 kupaca po broju računa</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Ukupno računa</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[4] %}
          <tr>
            <th scope="row">{{d.id}}</th>
            <td>{{d.ime}}</td>
            <td>{{d.prezime}}</td>
            <td>{{d.Ukupan_broj_računa}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Darjan Jurjanović</p>
    </div>
    <!-- end of table 5 -->

    <!-- table 6 -->
    <div class="col px-4">
      <p class="fs-5">Top 5 skupih dijelova</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Serijski broj</th>
            <th scope="col">Opis</th>
            <th scope="col">Nabavna cijena</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[5] %}
          <tr>
            <th scope="row">{{data[5].index(d)+1}}</th>
            <td>{{d.serijski_broj}}</td>
            <td>{{d.opis}}</td>
            <td>{{d.nabavna_cijena}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Darjan Jurjanović</p>
      <!-- end of table 6 -->
    </div>
  

  
    <!-- table 7 -->
    <div class="col px-4">
      <p class="fs-5">Table 7</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">ukupno_po_servisu</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[3] %}
          <tr>
            <th scope="row">{{data[3].index(d)+1}}</th>
            <td>{{d.Ime_i_prezime}}</td>
            <td>{{d.ukupno_po_servisu}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Marija Ilić</p>

    </div>
    <!-- end of table 7 -->

    <!-- table 8 -->
    <div class="col px-4">
      <p class="fs-5">Table 8</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">ukupno_po_servisu</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[3] %}
          <tr>
            <th scope="row">{{data[3].index(d)+1}}</th>
            <td>{{d.Ime_i_prezime}}</td>
            <td>{{d.ukupno_po_servisu}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Marija Ilić</p>

    </div>
    <!-- end of table 8 -->

    <!-- table 9 -->
    <div class="col px-4">
      <p class="fs-5">Table 9</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">ukupno_po_servisu</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[3] %}
          <tr>
            <th scope="row">{{data[3].index(d)+1}}</th>
            <td>{{d.Ime_i_prezime}}</td>
            <td>{{d.ukupno_po_servisu}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Noel Modrušan</p>
    </div>
    <!-- end of table 9 -->
  

  
    <!-- table 10 -->
    <div class="col px-4">
      <p class="fs-5">Table 10</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">ukupno_po_servisu</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[3] %}
          <tr>
            <th scope="row">{{data[3].index(d)+1}}</th>
            <td>{{d.Ime_i_prezime}}</td>
            <td>{{d.ukupno_po_servisu}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Noel Modrušan</p>
    </div>
    <!-- end of table 10 -->

    <!-- table 11 -->
    <div class="col px-4">
      <p class="fs-5">Table 11</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">ukupno_po_servisu</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[3] %}
          <tr>
            <th scope="row">{{data[3].index(d)+1}}</th>
            <td>{{d.Ime_i_prezime}}</td>
            <td>{{d.ukupno_po_servisu}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Sara Mauko</p>
    </div>
    <!-- end of table 11 -->

    <!-- table 12 -->
    <div class="col px-4">
      <p class="fs-5">Table 12</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime i prezime</th>
            <th scope="col">ukupno_po_servisu</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data[3] %}
          <tr>
            <th scope="row">{{data[3].index(d)+1}}</th>
            <td>{{d.Ime_i_prezime}}</td>
            <td>{{d.ukupno_po_servisu}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-muted credit">autor: Sara Mauko</p>
    </div>
    <!-- end of table 12 -->
  </div>
  <!-- end of ROW -->
</div>
<!-- end of container -->
<script src="https://cdn.jsdelivr.net/npm/chart.js" ></script>

<script>

  // graph 1
        
        
        
        var data1 = {
          labels:{{x_table1|safe}},
          datasets:[{
              label:"Ukupno izvršenih usluga",
              backgroundColor: "#212529",
              borderColor: "red",
              data: {{y_table1|safe}}
              }]
            }
            
            const graph1 = document.getElementById("table1")
            const config1 = {
          type:"bar",
          data:data1,
          options: {
            indexAxis: 'y',
            scale: {
              ticks: {
                precision: 0
              }
            }
          }
        }
        const chart1 = new Chart(graph1, config1)

  // graph 3
        
        var data3 = {
          labels:{{x_table3|safe}},
          datasets:[{
              label:"Broj servisa",
              backgroundColor: "#212529",
              borderColor: "red",
              data: {{y_table3|safe}}
              }]
            }
            
            const graph3 = document.getElementById("table3")
            const config3 = {
          type:"bar",
          data:data3,
          options: {
            indexAxis: 'x',
            scale: {
              ticks: {
                precision: 0
              }
            }
          }
        }
        const chart3 = new Chart(graph3, config3)

</script>
      
    {% endblock %}
{% endblock %}