{% extends "administracija-base.html" %}
{% block head %}
<title>Zaposlenik | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Zaposlenik</h1>
                <p class="fs-4">Sve informacije o zaposleniku {{data.ime}} {{data.prezime}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">


    {% block content %}

    <div class="row" id="end">
        <div class="col">
            <p class="fs-3">Opće informacije</p>
            <p><b>Ime:</b> {{data.ime}}</p>
            <p><b>Prezime:</b> {{data.prezime}}</p>
            <p><b>OIB:</b> {{data.oib}}</p>
            <p><b>Datum rođenja:</b> {{data.datum_rodenja.strftime('%d.%m.%Y.')}}</p>
            <p><b>Spol:</b> {% if data.spol=='ž' %} Žensko {% else %} Muško {% endif %}</p>
            <p><b>Adresa:</b> {{data.adresa}}</p>
            <p><b>Grad:</b> {{data.grad}}</p>
        </div>
        <div class="col">
            <p class="fs-3">Kontakt informacije</p>
            <p><b>Broj telefona:</b> {{data.broj_telefona}}</p>
            <p><b>E-mail:</b> {{data.e_mail}}</p>

            <p class="fs-3">Informacije o radnom mjestu</p>
            <p><b>Radno mjesto:</b> {{data.radno_mjesto}}</p>
            <p><b>Datum zaposlenja:</b> {{data.datum_zaposlenja.strftime('%d.%m.%Y.')}}</p>
            <p><b>Plaća:</b> {{data.placa}} kn</p>
        </div>
    </div>

    <a href="/administracija/dodavanje-zaposlenika-kao-klijenta/{{data.id}}" class="btn btn-outline-success"
        id="button"> Dodaj kao klijenta </a>
    <a href="/administracija/uredivanje-zaposlenika/{{data.id}}" class="btn btn-outline-success" id="button"> Uredi </a>
    <a class="btn btn-outline-success" id="button" onclick="areYouSure()"> Ukloni </a>


    {% endblock %}

    <script>
        function areYouSure() {
            if (prompt("Izbrisat ćete zaposlenika! Za nastavak upišite: DA") == 'DA') {
                window.location.href = "/administracija/brisanje-zaposlenika/{{data.id}}";
            }
        }
    </script>

</div>
{% endblock %}