<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <title>Prodajno servisni centar | PSC</title>

    <style>
        .btn.btn-outline-success {
            width: 150px;
            border-color: #ffffff;
            color: #ffffff;
        }

        .btn.btn-outline-success:hover {
            border-color: #198754;
        }
    </style>
</head>

<body>

    <div class="text-center" id="hp-bg">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <img src="/static/images/PSC-logo.png" width="300px">
                <p class="fs-4" id="headline">Odaberite dio aplikacije koji želite koristiti</p>
                <a class="btn btn-outline-success" href="/administracija/ispis-svih-automobila"
                    role="button">Administracija</a>
                <a class="btn btn-outline-success" href="/prodaja/ispis-svih-automobila" role="button">Prodaja</a>
                <a class="btn btn-outline-success" href="#" role="button">Servis</a>

                <!-- <div style="outline:1px solid red;margin-top:1rem;">
                    <p class="text-light">Privremeni linkovi (for my sanity)- biti ce uklonjeno</p>
                    <a href="/prodaja/ispis-svih-klijenata">Ispis klijenata</a>
                    <a href="/prodaja/ispis-svih-automobila">Ispis auta</a>
                    <a href="/administracija/ispis-svih-zaposlenika">Ispis zaposlenika</a>

                </div> -->

            </div>
        </div>
    </div>


    <!-- christmas stuff -->
    <!-- za ukloniti samo obrisi cijeli script tag -->
    <script>
        const elHTML = '<div onclick="hide();" class="christmas d-flex justify-content-center align-items-center" style="color:yellow;width:100%;height:100%;position:absolute;z-index:2;top:0;left:0;background-color:brown;transition:all .5s;overflow:hidden;flex-direction:column;cursor:pointer;"><h1 class="display-4">Sretan Božić i Nova godina!</h1><img style="height: 300px;" src="https://static.vecteezy.com/system/resources/previews/011/016/451/original/christmas-decoration-with-balls-and-bell-free-png.png" alt=""></div>';
        document.querySelector('body').insertAdjacentHTML('beforeend', elHTML);
        const el = document.querySelector(".christmas");
        function hide() {
            el.style.height = '0%';
        }
    </script>
    <!-- end of christmas stuff -->

</body>

</html>