{% extends "prodaja-base.html" %}
{% block head %}
<title>Račun | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Račun</h1>
                <p class="fs-4">Informacije o računu broj {{data.rp_broj_racuna}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">


    {% block content %}

    <div class="row" id="end">
        <div class="col">
            <p class="fs-3">Informacije o Klijentu</p>
            <p><b>Ime:</b> {{data.k_ime}}</p>
            <p><b>Prezime:</b> {{data.k_prezime}}</p>
            <p><b>OIB:</b> {{data.k_oib}}</p>
            <p><b>Broj telefona:</b> {{data.k_broj_telefona}}</p>
            <p><b>Adresa:</b> {{data.k_adresa}}</p>
            <p><b>Grad:</b> {{data.k_grad}}</p>
            <p><b>Spol:</b> {% if data.k_spol=='ž' %} Žensko {% else %} Muško {% endif %}</p>
            <p class="text-white">_</p>

            <p class="fs-3">Zaposlenik</p>
            <p><b>Ime:</b> {{data.z_ime}}</p>
            <p><b>Prezime:</b> {{data.z_prezime}}</p>
            <p><b>OIB:</b> {{data.z_oib}}</p>
        </div>
        <div class="col">


            <p class="fs-3">Informacije o automobilu</p>
            <p><b>Broj Šasije:</b> {{data.a_broj_sasije}}</p>
            <p><b>Marka:</b> {{data.a_marka_automobila}}</p>
            <p><b>Model:</b> {{data.a_model}}</p>
            <p><b>Godina proizvodnje:</b> {{data.a_godina_proizvodnje.strftime('%Y.')}}</p>
            <p><b>Boja:</b> {{data.a_boja}}</p>
            <p><b>Snaga motora:</b> {{data.a_snaga_motora|int}} {{snaga}}</p>
            <p><b>Kilometraža:</b> {{data.a_kilometraza}}</p>
            <p><b>Tip motora:</b> {{data.a_tip_motora}}</p>

            <p class="fs-3">Informacije o računu</p>
            <p><b>Broj računa:</b> {{data.rp_broj_racuna}}</p>
            <p><b>Datum izdavanja:</b> {{data.rp_datum.strftime('%d.%m.%Y.')}}</p>
            <p><b>Cijena:</b> {{data.rp_cijena}} {{valuta}}</p>

        </div>
    </div>


    <a href="javascript:history.back()" class="btn btn-outline-success" id="button"> Nazad </a>
    <a onclick="areYouSure()" class="btn btn-danger" id="button"> Storniraj račun </a>


    {% endblock %}
    <script>
        function areYouSure() {
            if (prompt("Stornirati ćete račun! Za nastaviti upišite DA") == 'DA') {
                window.location.href = "/prodaja/storniranje-racuna/{{data.rp_id}}";
            }
        }
    </script>

</div>
{% endblock %}