{% extends "prodaja-base.html" %}
{% block head %}
<title>Računi | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Računi</h1>
                <p class="fs-4">Pomoću forme pretražite račune</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">

    <label for="identificator" class="form-label">Pretraži prema:</label>
    <div class="search">
        <form method="post" class="d-flex">
            <select class="form-select" name="identificator" id="identificator" aria-label="Pretraži po" required value="{{request.form['identificator']}}">
                <option selected value="rp_broj_racuna">Broj računa</option>
                <option value="rp_datum">Nakon datuma</option>
                
            </select>
            <div class="d-flex search-box">
                <input id="query" name="query" value="{{request.form['query']}}" type="number" class="form-control"
                    placeholder="Upisati traženi pojam" required>
                <input type="submit" class="btn btn-outline-success" value="Pretraži">
            </div>
        </form>
    </div>

    {% block content %}

    {% if data %}

    <!-- table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Broj računa</th>
                <th scope="col">Datum izdavanja</th>
                <th scope="col">Zaposlenik</th>
                <th scope="col">Klijent</th>
                <th scope="col">Model automobila</th>
                <th scope="col">Cijena</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{d.rp_broj_racuna}}</td>
                <td>{{d.rp_datum.strftime('%d.%m.%Y.')}}</td>
                <td>{{d.z_ime}} {{d.z_prezime}}</td>
                <td>{{d.k_ime}} {{d.k_prezime}}</td>
                <td>{{d.a_model}}</td>
                <td>{{d.rp_cijena}}</td>
                <td><a href="/prodaja/detalji-racuna/{{d.rp_id}}" class="btn btn-outline-success"> Više informacija </a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- end of table -->

    {% else %}
    <p class="fs-4 text-center">Nije pronađen niti jedan račun.</p>
    {% endif %}

    

    {% endblock %}

</div>
<script>
    const el = document.querySelector('select')
    const search = document.querySelector('#query')
    el.addEventListener('click',(e)=>{
        if (el.value == 'rp_datum') {
            search.setAttribute('type',"date")
        }else {
            search.setAttribute('type',"number")
        }
    })
</script>
{% endblock %}