{% extends "prodaja-base.html" %}
{% block head %}
<title>Račun | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Račun</h1>
                <p class="fs-4">Informacije o računu broj {{data.broj_racuna}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">


    {% block content %}

    <div class="row" id="end">
        <div class="col">
            <p class="fs-3">Informacije o Klijentu</p>
            <p><b>Ime:</b> {{data.klijent.ime}}</p>
            <p><b>Prezime:</b> {{data.klijent.prezime}}</p>
            <p><b>OIB:</b> {{data.klijent.oib}}</p>
            <p><b>Broj telefona:</b> {{data.klijent.broj_telefona}}</p>
            <p><b>Adresa:</b> {{data.klijent.adresa}}</p>
            <p><b>Grad:</b> {{data.klijent.grad}}</p>
            <p><b>Spol:</b> {% if data.klijent.spol=='ž' %} Žensko {% else %} Muško {% endif %}</p>
            <p class="text-white">_</p>

            <p class="fs-3">Zaposlenik</p>
            <p><b>Ime:</b> {{data.zaposlenik.ime}}</p>
            <p><b>Prezime:</b> {{data.zaposlenik.prezime}}</p>
            <p><b>OIB:</b> {{data.zaposlenik.oib}}</p>
        </div>
        <div class="col">


            <p class="fs-3">Informacije o automobilu</p>
            <p><b>Broj Šasije:</b> {{data.auto.broj_sasije}}</p>
            <p><b>Marka:</b> {{data.auto.marka_automobila}}</p>
            <p><b>Model:</b> {{data.auto.model}}</p>
            <p><b>Godina proizvodnje:</b> {{data.auto.godina_proizvodnje.strftime('%Y.')}}</p>
            <p><b>Boja:</b> {{data.auto.boja}}</p>
            <p><b>Snaga motora:</b> {{data.auto.snaga_motora|int}} {{snaga}}</p>
            <p><b>Kilometraža:</b> {{data.auto.kilometraza}}</p>
            <p><b>Tip motora:</b> {{data.auto.tip_motora}}</p>

            <p class="fs-3">Informacije o računu</p>
            <form method="POST" id="detalji-prodaje">
                <div class="row" id="input-global">
                    <div class="col">
                        <label for="datum" class="form-label">Datum prodaje</label>
                        <input name="datum" id="input-datum" type="date" class="form-control" required>
                    </div>
                </div>

                <div class="row" id="input-global">
                    <div class="col">
                        <label for="cijena" class="form-label">Cijena</label>
                        <input name="cijena" type="number" step=".01" class="form-control" required>
                    </div>
                </div>
                {% if data.status_klijenta.prijasnji_klijent == True %}
                <p class="text-success">Prijašnji klijent! Popust na cijenu 10%</p>
                {% endif %}
                {% if data.status_klijenta.klijent_zaposlenik == True %}
                <p class="text-success">Klijent zaposlenik! Popust na cijenu od {{data.klijent.placa}} kn</p>
                {% endif %}

            </form>
        </div>
    </div>

    <button form="detalji-prodaje" class="btn btn-success" id="button" type="submit">Zaključi račun</button>
    <a href="javascript:history.back()" class="btn btn-outline-success" id="button"> Nazad </a>

    <!-- Skripta za postavljanje datuma prodaje na trenutni datum -->
    <script>
        const input = document.getElementById("input-datum").valueAsDate = new Date();
    </script>

    {% endblock %}


</div>
{% endblock %}