{% extends "servis-base.html" %}
{% block head %}
<title>Narudžbenica | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Narudžbenica</h1>
                <p class="fs-4">Informacije o narudžbenici broj </p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">


    {% block content %}

    <div class="row" id="end"> 
        <div class="col">
            <p class="fs-3">Informacije o Zaposleniku</p>
            <p><b>Ime: {{usluga}}</b> </p>
            <p><b>Prezime:</b> </p>
            <p><b>OIB:</b> </p>
            <p><b>Broj telefona:</b> </p>
            <p><b>Adresa:</b> </p>
            

            <p class="fs-3">Komentar o Servisu</p>
            <form method="POST" id="detalji-prodaje">
                <div class="row" id="input-global">
                    <div class="col">
                        <label for="komentar" class="form-label">Status servisa</label>
                        <input name="komentar" type="text" class="form-control" required id="input-datum">
                    </div>
                </div>
                

        </div>
        <div class="col">
            

            <p class="fs-3">Informacije o Narudžbenici</p>
            <p><b>Broj narudzbe</b> </p>
            <p><b>Datum zaprimanja</b> </p>
            <p><b>Datum povratka</b></p>
            
        
            <p class="fs-3">Informacije o Usluzi </p>
            <p><b>Broj narudzbe</b> </p>
            <p><b>Datum zaprimanja</b>  kn</p>
            
            

            </form>
        </div>
    </div>

    <button form="detalji-prodaje" class="btn btn-success" id="button" type="submit">Dodaj komentar servisa</button>
    <a href="javascript:history.back()" class="btn btn-outline-success" id="button"> Nazad </a>


    {% endblock %}
    <script>
        const input = document.getElementById("input-datum").valueAsDate = new Date();
    </script>

</div>
{% endblock %}