{% extends "servis-base.html" %}
{% block head %}
<title>Automobili | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Automobili</h1>
                <p class="fs-4">Promijeni dostupnost automobila</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">

    <label for="identificator" class="form-label">Pretraži prema:</label>
    <div class="search">
        <form method="post" class="d-flex">
            <select style="width: 210px" class="form-select" name="identificator" id="identificator"
                aria-label="Pretraži po" required value="{{request.form['identificator']}}">
                <option selected value="broj_sasije">Broj šasije</option>
                <option value="model">Model</option>
                <option value="marka_automobila">Marka</option>
                <option value="godina_proizvodnje">Godina proizvodnje</option>
            </select>

            <div class="d-flex search-box">
                <input style="width: 950px" name="query" value="{{request.form['query']}}" type="text"
                    class="form-control" placeholder="Upisati traženi pojam" required>
                <input type="submit" class="btn btn-outline-success" value="Pretraži">
            </div>

        </form>
    </div>

    {% block content %}

    {% if data %}

    <!-- table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Marka automobila</th>
                <th scope="col">Model</th>
                <th scope="col">Snaga motora</th>
                <th scope="col">Godina proizvodnje</th>
                <th scope="col">Servis/prodaja</th>
                
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{d.marka_automobila}}</td>
                <td>{{d.model}}</td>
                <td>{{d.snaga_motora|int}} {{snaga}}</td>
                <td>{{d.godina_proizvodnje.strftime('%Y.')}}</td>
                {% if d.servis_prodaja=='S' %}
                <td>servis</td>
                {% else %}
                <td>prodaja</td>
                {% endif %}

               
                <td><a href="/servis/dostupnost-auta/{{d.id}}/{{d.servis_prodaja}}" class="btn btn-outline-success"> Učini dostupnim za servis</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- end of table -->


    {% else %}
    <p class="fs-4 text-center not-found">Nije pronađen niti jedan automobil.</p>
    <a href="/servis/dodavanje-novog-automobila" class="btn btn-outline-success"> Dodaj automobil za servis </a>

    {% endif %}

    {% endblock %}


</div>
{% endblock %}