{% extends "servis-base.html" %}
{% block head %}
<title>Podaci o servisu| PSC</title>
{% endblock %}

{% block body %}


<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Podaci o servisu</h1>
                
                <p class="fs-4">Broj narudžbenice: {{data[0].broj_narudzbe}} </p>
                <p class="fs-4">Datum zaprimanja: {{data[0].datum_zaprimanja.strftime('%d.%m.%Y.')}} </p>
                <p class="fs-4">Datum povratka: {{data[0].datum_povratka.strftime('%d.%m.%Y.')}} </p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">
    {% block content %}
    <!-- row 1 -->
    <div class="row row-cols-2">
        <!-- column 1 -->
        <div class="col">
            <p class="fs-3">Informacije o klijentu</p>
            <p><b>Ime:</b> {{data[0].klijent_ime}}</p>
            <p><b>Prezime:</b> {{data[0].klijent_prezime}}</p>
            <p><b>OIB:</b> {{data[0].klijent_oib}}</p>
            <p><b>Spol:</b> {% if data[0].klijent_spol=='ž' %} Žensko {% else %} Muško {% endif %}</p>
            <p><b>Adresa:</b> {{data[0].klijent_adresa}}</p>
            <p><b>Grad:</b> {{data[0].klijent_grad}}</p>
            <p><b>Broj telefona:</b> {{data[0].klijent_broj_telefona}}</p>
            <br>
        </div>

        <!-- column 2 -->
        <div class="col">
            <p class="fs-3">Zaposlenik koji je odradio servis</p>
            <p><b>Ime:</b> {{data[0].zaposlenik_ime}}</p>
            <p><b>Prezime:</b> {{data[0].zaposlenik_prezime}}</p>
            <p><b>Spol:</b> {{data[0].zaposlenik_spol}}</p>
            <p><b>OIB:</b> {{data[0].zaposlenik_oib}}</p>
            <p><b>Datum rođenja:</b> {{data[0].zaposlenik_datum_rodenja.strftime('%d.%m.%Y.')}}</p>
            <p><b>Adresa</b> {{data[0].zaposlenik_adresa}}</p>
            <p><b>Grad:</b> {{data[0].zaposlenik_grad}}</p>
            <p><b>Radno mjesto:</b> {{data[0].zaposlenik_radno_mjesto}}</p>
        </div>

        <!-- column 3 -->
        <div class="col">
            <p class="fs-3">Informacije o autu</p>
            <p><b>Broj šasije:</b> {{data[0].broj_sasije}}</p>
            <p><b>Marka automobila: </b> {{data[0].marka_automobila}}</p>
            <p><b>Model:</b> {{data[0].model}}</p>
            <p><b>Boja:</b> {{data[0].boja}}</p>
            
            <p><b>Tip motora </b> {{data[0].tip_motora}}</p>
            <p><b>Snaga motora: </b> {{data[0].snaga_motora}}</p>
            <p><b>Kilometraža: </b> {{data[0].kilometraza}}</p>
            <p><b>Godina proizvodnje:</b> {{data[0].godina_proizvodnje.strftime('%Y.')}}</p>   
        </div>
        
        <!-- column 4 -->
        <div class="col">
            <p class="fs-3">Status servisa: </p>
            <p><b>Komentar servisa:</b> {{data[0].komentar}}</p>
            <p><b>Naziv usluge:</b> {{data[0].usluga_servis_naziv}}</p>
            <p><b>Cijena usluge:</b> {{data[0].usluga_servis_cijena}} kn </p>
        </div>
    </div>
    <!-- end of row 1 -->

    <!-- row 2 -->
    <div class="row"  id="end">
        <div class="col">
            <p class="fs-3">Informacije o ugrađenim dijelovima</p>
            <div class="row">
                <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            
                            <th scope="col">Naziv dijela</th>
                            <th scope="col">Proizvođač</th>
                            <th scope="col">Serijski broj</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Kategorija</th>
                            <th scope="col">Nabavna cijena</th>
                            <th scope="col">Prodajna cijena</th>
                            <th scope="col">Količina</th>
        
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in dijelovi %}
                        <tr>
                            
                            <td>{{d.naziv}}</td>
                            <td>{{d.proizvodac}}</td>
                            <td>{{d.serijski_broj}} KW</td>
                            <td>{{d.opis}}</td>
                            <td>{{d.kategorija}}</td>
                            <td>{{d.nabavna_cijena}}</td>
                            <td>{{d.prodajna_cijena}}</td>
                            <td>{{d.kolicina}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            <a onclick="areYouSure()" class="btn btn-danger" id="button" onclick="areYouSure()"> Obriši  </a>
    </div>
    <!-- end of row 2 -->
  
    {% endblock %}
    <script>
        function areYouSure(){
            if (prompt("Izbrisati ćete servisni list! Za nastaviti upišite DA") == 'DA') {
                window.location.href = "/servis/brisanje-servis/{{data[0].servis_id}}";
            }   
        }
    </script>
</div>
<!-- end of container -->
{% endblock %}
















