<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/administracija.css">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    {% block head %}
    {% endblock %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Prodajno servisni centar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/administracija/statistika">Statistika</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Klijent
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/servis/svi-klijenti">Klijenti</a>
                            </li>
                            <li><a class="dropdown-item" href="/servis/dodavanje-novog-klijenta">Dodavanje
                                    klijenta</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Narudžbenica
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/narudzbenica/popis">Narudžbenice</a>
                            </li>
                            <li><a class="dropdown-item" href="/servis/ispis-svih-automobila">Dodavanje narudžbenice
                                </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dijelovi
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/servis/dodavanje">Upis dijela</a></li>
                            <li><a class="dropdown-item" href="/servisi/ispis">Naziv dijela & Proizvođač</a></li>
                            <li><a class="dropdown-item" href="/servis/stavka-dio-ispis">Svi podaci o dijelovima</a>
                            <li><a class="dropdown-item" href="/servis/azuriranje-dijelova">Ažuriraj dijelove</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Servis
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/servis/ispis-servisa">Servisi</a>
                            </li>
                            <li><a class="dropdown-item" href="/narudzbenica/popis">Dodavanje servisa</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Auto
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/servis/ispis-svih-automobila">Automobili</a>
                            </li>
                            <li><a class="dropdown-item" href="/servis/dodavanje-novog-automobila">Dodavanje novog
                                    automobila</a></li>
                        </ul>
                    </li>


                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

</head>

<body>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
    <div class="footer">
        <div class="text-center p-3" style="background-color: #212529; color: white;">
            Projekt iz kolegija Baze podataka 2 | Prodajno servisni centar
        </div>
    </div>

    <script>
        // rjesava problem kolicine contenta i pozicije footera
        var content = document.querySelector('.content');
        var footer = document.querySelector('.footer');
        var navbar = document.querySelector('#nav');


        if (content.offsetHeight + footer.offsetHeight + navbar.offsetHeight < window.innerHeight) {
            footer.style.position = 'fixed';
            footer.style.bottom = '0';
            footer.style.width = '100%';



        } else {
            footer.style.position = 'relative';
            footer.style.width = '100%';
        }
    </script>
    <!-- skripta za dark mode -->
    <script>
        const elementHTML = document.querySelector('html');
        const elementNav = document.querySelector('#nav');
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            elementHTML.setAttribute('data-bs-theme', 'dark');
            elementNav.classList.add('bg-dark');
        } else {
            elementHTML.setAttribute('data-bs-theme', 'light');
            elementNav.classList.remove('bg-dark');
        }
    </script>

</body>

</html>