{% extends "servis-base.html" %}
{% block head %}
<title>Servisi | PSC</title>
{% endblock %}

{% block body %}

<div class="text-center bg-image" id="h-global">
    <div class="mask" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Servisi</h1>
                <p class="fs-4">Pomoću forme pretražite servise</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="c-global">

    <label for="identificator" class="form-label">Pretraži prema:</label>
    <div class="search">
        <form method="post" class="d-flex">
            <select class="form-select" name="identificator" id="identificator" aria-label="Pretraži po" required
                value="{{request.form['identificator']}}">
                <option selected value="broj_sasije">Broj šasije</option>
                <option value="usluga_servis_naziv">Naziv usluge</option>
                <option value="zaposlenik_prezime">Prezime zaposlenika</option>
                <option value="klijent_oib">OIB Klijenta</option>
            </select>
            <div class="d-flex search-box" width="50px">
                <input name="query" value="{{request.form['query']}}" type="text" class="form-control"
                    placeholder="Upisati traženi pojam" required>
                <input type="submit" class="btn btn-outline-success" value="Pretraži">
            </div>
        </form>
    </div>

    {% block content %}

    {% if data %}

    <!-- table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Oib klijenta</th>
                <th scope="col">Broj šasije</th>
                <th scope="col">Broj narudžbe</th>
                <th scope="col">Datum zaprimanja</th>
                <th scope="col">Datum povratka</th>
                <th scope="col">Naziv usluge</th>
                <th scope="col">Cijena</th>
                <th scope="col">Ime i prezime zaposlenika</th>
                <th scope="col">Komentar servisa</th>

            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{d.servis_id}} </td>
                <td>{{d.klijent_oib}} </td>
                <td>{{d.broj_sasije}} </td>
                <td>{{d.broj_narudzbe}} </td>
                <td>{{d.datum_zaprimanja.strftime('%d.%m.%Y.')}} </td>
                <td>{{d.datum_povratka.strftime('%d.%m.%Y.')}} </td>
                <td>{{d.usluga_servis_naziv}} </td>
                <td>{{d.usluga_servis_cijena}} {{valuta}}</td>
                <td>{{d.zaposlenik_ime}} {{d.zaposlenik_prezime}} </td>
                <td>{{d.komentar}} </td>



                <td>
                    <a href="/servis/servis-popis/{{d.servis_id}}" class="btn btn-outline-success"> Više informacija</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- end of table -->

    {% else %}
    <p class="fs-4 text-center not-found">Nije pronađena niti jedan servis.</p>
    {% endif %}

    {% endblock %}


</div>
{% endblock %}